body {
    text-align: center;
}

#chat {
    background-color: steelblue;
}

#play-area {
    background-color: tomato;
}


#icon-select {
    width: 300px;
    padding: 10px;
    background-color: blanchedalmond;
    display: inline-block;
}

/* For the appearance of icons */
.icon {
    padding: 10px;
}

.icon:hover {
    background-color: lightgray;
}

/* Attach this class to any element you want centered horizontally and
   vertically in its container */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}